.sliderContainer {
  width: 100%;
  height: 100%;
}

.slideContent {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.slideImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}

.bannerContent {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.banner1 {
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;

  .bannerContent {
    bottom: 55px;
    position: relative;
  }

  .bannerContent a {
    margin-left: auto;
    margin-right: auto;
  }
}

.banner2 {
  align-items: flex-start;
  justify-content: flex-start;

  .bannerContent h2 {
    color: #d8c4c4;
    margin: 0 auto;
  }
}

.banner3 {
  align-items: flex-end;
  justify-content: flex-end;
}

.bannerContent h2 {
  color: #ff6969;
  font-size: 65px;
}

.span {
  font-size: 16px;
  color: #fff3e5;
  margin-top: 20px;
}

.content {
  max-width: 900px;
  padding: 0 70px;
  color: #fff;
  font-size: 18px;
  margin-top: 35px;
}
.bannerContent a {
  display: inline-block;
  padding: 10px 34px;
  background-color: #a6d0dd;
  color: #162029;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 61px;
  transition: 0.3s ease;
  width: fit-content;
  font-weight: 500;
  margin-top: 20px;
}

.bannerContent a:hover {
  background-color: #7f9fa8;
}
